@charset "UTF-8";
.name_header {
    text-align: center;
    padding: 8%;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.items {
    height: 35px;
    padding: 0 25px;
    transition:all 0.3s ease;
}
.items:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}